/* FAQ css에서 모두 관리 */

.Customer_service_top_date{
    margin-left: 735px;
}

.Customer_service_inner_date{
}

.Customer_service_inner_title{
    width: 790px;
}

.Customer_service_div{
    margin-bottom: 30px;
}


.pagenation{
    margin-top: 160px;
}