.product_detail {
    width: 100%;
    display: inline-block;
}
.product_detail .left_area {
    height: 440px;
    float: left;
}
.product_detail .right_area {
    width: 500px;
    height: 440px;
    float: right;
}
.right_area .pd_title {
    display: flex;
}

/*상품명*/
.right_area .pd_name {
    font-size: 30px;
    font-weight: 700;
}
.right_area .pd_name p {
    margin: 10px 0;
}

/*좋아요버튼*/
.right_area .pd_like {
    margin-left: auto;
}

.right_area .pd_like img {
    margin: 8px 0;
    width: 45px;
}


/*상품 가격*/
.right_area .pd_value span {
    font-weight: 700;
}

.right_area .pd_value .pd_price {
    font-size: 30px;
}

.right_area .pd_value .pd_rate {
    color: #FFAE00;

}

/*별점*/
.rating_stars {
    position: relative;
    display: inline-block;
}

.rating_stars_bg {
    color: #ddd;
    font-size: 40px;

}

.rating_stars_fg {
    color: #ffb300;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    font-size: 40px;
}

.right_area .pd_star img {
    width: 20px;
    height: 20px;
}

.right_area .pd_star span {
    color: #FFAE00;
    font-size: 18px;
    font-weight: 700;
}

.right_area div span {
    line-height: 40px;
    font-size: 18px;
}

.right_area .purchase_cnt {
    display: flex;
}

.right_area .purchase_cnt table,.right_area .purchase_cnt table {
    width: 50%;
}

/* 구매 수량 테투리 만들기*/
.right_area .purchase_cnt table,.right_area .purchase_cnt table tr, .right_area .purchase_cnt table tr td {
    border: 1.5px solid #ACACAC;
    border-collapse: collapse;
    height: 40px;
}

.right_area .purchase_cnt table {
    margin-left: auto;
}

.right_area .purchase_cnt table tr td {
    text-align: center;
    vertical-align: middle;
}

.right_area .purchase_cnt table tr td button {
    padding: 3px;
    width: 38px;
    border: none;
    background: none;
    font-size: 30px;
    color: #BEBEBE;
}

.right_area .purchase_cnt table tr td input {
    padding: 3px;
    width: 38px;
    height: 37px;
    border: none;
    background: none;
    font-size: 25px;
    text-align: center;
}

.total_purchase {
    float: right;
    font-size: 30px;
    font-weight: 700;
    text-align: right;
}

.purchase_btn button{
    margin: 10px;
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.purchase_btn #basket_btn {
    border: 2px solid #FFDC41;
    background: #fff;
    width: 130px;
}

.purchase_btn #buy_btn {
    margin-right: 0;
    border: 2px solid #FFDC41;
    background: #FFDC41;
    color: #fff;
    width: 130px;
}

.product_detail_more_area .product_detail_tab {
    margin: 0;
    margin-top: 30px;
    padding: 0;
    width: 100%;
}

.product_detail_more_area .product_detail_tab li {
    padding: 12px 15px;
    width: 219px;
    display: inline-block;
    border: 2px solid #BEBEBE;
    font-size: 19px;
    text-align: center;
    cursor: pointer;
    background: #BEBEBE;
    color: #fff;
}

.product_detail_more_area .product_detail_tab li.active {
    background: none;
    color: #000;
}

.product_detail_more_area .product_detail_info_area {
    padding: 10px;
    width: 96.9%;
    border: 2px solid #BEBEBE;
    border-top: none;
}

.product_detail_info_area .product_detail_info .info_title {
    margin: 0;
    padding: 50px 0;
    font-size: 45px;
    text-align: center;
}

.product_detail_info_area .product_detail_info .info_sub_title {
    font-size: 35px;
}


.product_detail_info_area .product_detail_info p {
    font-size: 28px;
}

.product_detail_info_area .product_detail_info img {
    width: 100%;
}


.product_review {
    padding: 20px;
    width: 850px;
    margin-left: 35px;
    padding: 20px;
    width: 850px;
}

.profile_card {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #FFF2A8;
    width: 850px;
    margin: 0 auto;
}

.profile_card img {
    width: 120px;
    height: 120px;
    border-radius: 100px;
    margin-left: 12px;
}

.profile_info {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.profile_name {
    font-weight: bold;
    margin: 0;
    font-size: 12px;
}

.profile_followers {
    color: gray;
    margin: 0;
    font-size: 10px;
}


.rating_summary {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    justify-content: center;
}

.rating_stars span {
    font-size: 50px;
    color: #FF8800;
}

.rating_score_primary {
    margin-left: 20px;
    font-size: 18px;
    font-weight: bold;
}

.rating_score_secondary {
    font-size: 18px;
    font-weight: bold;
    color: #919191;
}


.rating_container {
    width: 850px;
    height: 135px;
    padding: 30px;
    background-color: #F4F4F4;
    margin: 0 auto;
}

.rating_row {
    display: flex;
    margin-bottom: 20px;
    margin-left: 25px;
}

.rating_label {
    width: 150px;
    font-size: 20px;
}

.rating_text {
    width: 90px;
    font-size: 18px;
    margin-right: 10px;
}

.rating_bar {
    width: 500px;
    height: 30px;
    background-color: #FCFCFC;
    border-radius: 20px;
    margin-right: 10px;
}

.rating_fill {
    height: 100%;
    background-color: #ffd700;
    border-radius: 20px;
}


.fill_82 {
    width: 82%;
}

.fill_73 {
    width: 73%;
}

.fill_79 {
    width: 79%;
}

.rating_percent {
    margin-left: 10px;
    font-size: 14px;
}


.review_section {
    width:850px;
    padding-top: 20px;
    margin:0 auto;
}

.review_count {
    font-weight: bold;
    margin-bottom: 20px;
}

.review_item {
    margin-bottom: 20px;
}

.review_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.review_header h2 {
    font-size: 30px;
}

.review_header h2 span {
    color: #919191;
}

.review_ranking_options span {
    cursor: pointer;
    color: #666;
    margin-right: 5px;
}

.review_body {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.review_delete_Btn{
    font-size: 15px;
    margin-left: 15px;
    color: grey;
    cursor: pointer;
}

.review_delete_Btn:hover{
    border-bottom: 1px solid black;
}

.review_star {
    font-size: 24px;
    color: #FFD700;
    margin-right: 10px;
}

.review_info {
    flex-grow: 1;
}

.review_user {
    font-weight: bold;
    font-size: 30px;
}

.review_date {
    color: #888;
    font-size: 12px;
    margin-left: 10px;
}

.review_text {
    margin-top: 10px;
}

.review_title {
    margin-top: 10px;
    font-size: 18px;
    color: #ACACAC;
}

.review_detail {
    font-size: 18px;
    margin-right: 10px;
}

.review_text_detail {
    font-size: 18px;
    margin-bottom: 10px;
}


.seller_reply {
    background-color: #F4F4F4;
    padding: 10px;
    height: 60px;
    margin-top: 20px;
}

.seller_reply_header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.seller_reply_user {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
}

.seller_reply_detail {
    font-size: 18px;
}

.seller_reply_date {
    color: #ACACAC;
    font-size: 12px;
}


.seller_reply_header{
    margin-bottom: 10px;
}

.review_image_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.review_image {
    width: 300px;
    height: 300px;
    border-radius: 20px;
}



.notice {
    background-color: #F4F4F4;
    font-size: 15px;
    margin: 0 auto;
    width: 920px;
    padding: 15px;
    color: #333;
}

.notice ul {
    padding-left: 20px;
}

.notice li {
    margin-bottom: 8px;
}


.inquiry_container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.inquiry_text {
    margin-left: 25px;
    margin-right: 425px;
}

.inquiry_button {
    background-color: #FFF4B8;
    width: 100px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    border: 2px solid #FFDC41;
}


.table_container {
    padding: 20px;
}

.table_container table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

thead {
    border: 1px solid #BEBEBE;
}

thead th {
    margin-bottom: 15px;
    padding: 12px;
    text-align: center;
    font-weight: normal;
}

tbody {
    border: 1px solid #BEBEBE;
}

.table_consumer tbody td {
    padding: 12px;
    text-align: center;
    cursor: pointer;
    border-top: 1px solid #BEBEBE;
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.container {
    margin: 13% auto;
    width: 420px;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

.header {
    padding: 20px;
    background-color: #FFF0AD;
}

h2 {
    font-size: 16px;
    margin: 0;
    color: #333;

}

.product_ask_reply {
    width: 80%;
    height: 150px;
    padding: 10px;
    margin-left: 40px;
    border: 1px solid #ddd;
    font-size: 14px;
    resize: none;
    box-sizing: border-box;
    margin-top: 20px;
}

.product_ask_reply::placeholder {
    color: #bbb;
}

.response_message {
    margin-bottom: 20px;
    margin-left: 40px;
    width: 330px;
    font-size: 13px;
    color: #706F6F;
}

.button_container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

/*button {*/
/*    width: 80px;*/
/*    padding: 10px;*/
/*    border: none;*/
/*    font-size: 14px;*/
/*    cursor: pointer;*/
/*}*/

.cancel_button {
    background-color: #F0F0F0;
    color: #000000;
}

.submit_button {
    background-color: #FFE680;
    color: #000000;
}


.exchange_info {
    margin: 20px auto;
    width: 800px;
    color: #000000;
}

.exchange_info h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0 10px;
}

.exchange_info_line{
    margin-bottom: 10px;
    border-bottom: 1px solid #000000;
}

.exchange_info span{
    font-weight: bold;
}

.exchange_info ul {
    padding: 0;
    margin: 0;
}

.exchange_info ul li {
    margin-bottom: 10px;
    font-size: 14px;
}

.review_btn{
    background-color: #FFE680;
    color: #000000;
    border: 1px solid #FFD700;
    width: 110px;
    height: 40px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.review_btn:hover {
    background-color: #FFD700;
}

.pd_img {
    text-align: center;
}
.pd_img img{
    width: 400px;
    height: 300px;
    object-fit: cover;
}


