#farmer_job_page #contents {
    padding-top: 0;
}

#farmergic_menu {
    height: 230px;
    background-color: #FFF0AD;
}

#farmergic_menu_text {
    padding: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

#farmergic_menu_button {
    text-align: center;
}

#farmergic_menu_button .farmergic_menu_button_1, .farmergic_menu_button_2 {
    margin: 10px;
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    background: #fff;
    border: none;
    border-radius: 15px;
    text-align: center;
}

/*.farmergic_main_container {*/
/*    display: flex;*/
/*    justify-content: center; !* 수평 가운데 정렬 *!*/
/*}*/
.farmergic_main_container a{
    text-decoration: none;
    color: black;
}

.farmergic_main {
    min-height: 360px; /* 최소 높이 설정 */
    display: flex;
    flex-wrap: wrap; /* 한 줄에 두 개씩 배치 */
    justify-content: space-between;
    text-decoration: none;
}


.farmergic_main_item_info {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 각 항목 사이의 간격 조정 */
}

.farmergic_main_item_info > div {
    display: flex;
    align-items: center;

}


.farmergic_main_item {
    padding: 10px;
    width: 460px;
    height: 250px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    background-color: #ffffff;
    border: 2px solid #919191; /* 테두리 추가 */
}

.farmergic_main_item_image img{
    border-radius: 5px;
    margin-left: 10px;
}

.farmergic_main_item_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.farmergic_main_item_date,
.farmergic_main_item_location,
.farmergic_main_item_pay{
    margin-left: 5px;
}
