.farmer_job_seller_title{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    margin-bottom:30px;
}

.job_add_btn{

}

.job_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.job_table th, .job_table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.job_table th {
    background-color: #D9D9D9 ;
    font-weight: bold;
}

.job_table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.job_table tr:hover {
    background-color: #f1f1f1;
}

.job_table th, .job_table td {
    text-align: center;
}
