.mypage{
    width:1020px;
    margin: 0 auto;
}
.title_component{
    height: 180px;
    text-align: center;
    font-size:35px;
    line-height: 180px;
    font-weight: bold;
}
.hello{
    font-size: 24px;
    margin-left: 65px;
    margin-bottom: 10px;
    display: flex;
}

.hello_text{
    margin-left: 10px;
    line-height: 50px;
}

.delivery_detail{
    width: 890px;
    height: 180px;
    background-color: #ECECEC;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    margin-bottom: 60px;
}

.detail_item{
    margin:40px 60px;
}

.item_1, .item_3, .item_5, .item_7 {
    font-size: 48px;
    color: #636363;
    margin:5px 5px;
    margin-left: 20px;
}

.item_2, .item_4, .item_6, .item_8 {
    font-size: 24px;
    color: #636363;
}

.like_list_container{
    margin-bottom: 50px;
}

.like_text_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.like_text{
    margin-left: 60px;
    font-size:24px;
}

.like_container{
    background-color:#ECECEC ;
    width: 890px;
    height: 180px;
    border-radius: 10px;
    margin:0 auto;
    display: flex;

}

.like_content{
    width:140px;
    height: 140px;
    object-fit: cover;
    margin: 20px;
    background-color:white;
    border-radius: 10px;
}

.like_content img{
    width:140px;
    height: 140px;
    border-radius: 5px;
    text-align: center;
}

.like_separator {
    height: 2px; /* 선의 높이 */
    background-color: #818181; /* 선의 색상 */
    margin: 10px 0; /* 선 위아래 여백 조정 */
}
.like_separator_1{
    height: 2px; /* 선의 높이 */
    background-color: #818181;
    margin: 10px 0; /* 선 위아래 여백 조정 */
    width: 433px;

}

.like_separator_2{
    height: 1px; /* 선의 높이 */
    background-color: #CCCCCC;
    margin: 10px 0;
    width: 433px;
}

.info_qna{
    display: flex;
    margin-bottom: 40px;
}

.my_info_container{
    margin-left:50px;
}

.my_info{
    font-size:24px;

}

.my_info_item{
    font-size: 20px;
}

.qna_container{
    margin-left: 50px;
}

.product_qna{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product_qna_title{
    font-size: 24px;

}

.more{
    font-size: 14px;

}

.personal_qna{
    margin-top:50px;
    margin-bottom: 50px;
}

.personal_qna_title_content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 24px;
}

.qna_content{
    display: flex;
    margin-bottom: 10px;
}

.answer_new{
    width:50px;
    height:20px;
    border-radius:25px;
    background-color: #FB5C5C;
    font-size:10px;
    text-align: center;
    line-height: 20px;
    margin-right:10px;
}

.answer_wait{
    width:50px;
    height:20px;
    border-radius:25px;
    background-color: #D9D9D9;
    font-size:10px;
    text-align: center;
    line-height: 20px;
    margin-right:10px;
}
.answer_done{
    width:50px;
    height:20px;
    border-radius:25px;
    background-color: #FFF0AD;
    font-size:10px;
    text-align: center;
    line-height: 20px;
    margin-right:10px;
}