#basket_title h1{
    font-size: 35px;
}

#basket_process{
    margin-bottom: 10px;
}
#basket_process img{
    width: 500px;
    margin-left: 480px;
}

/*장바구니 테이블*/
#basket_table {
    height: 650px;
    background: #E5E5E5;
    margin: 0 auto;
}

#basket_table #basket_table_list {
    min-width: 1020px; /* 고정된 최소 너비 */
    background: #fff;
    min-height: 500px;
    table-layout: fixed; /* 테이블 너비를 고정 */
}

/*테이블 테두리*/
#basket_table #basket_table_list thead tr th{
    border-top: 7px solid #FFF0AD;
    border-bottom: 1px solid #BEBEBE;
    font-size: 18px;
}

#basket_table #basket_table_list tbody tr td{
    border-bottom: 1px solid #BEBEBE;
}

#basket_table #basket_table_list td:nth-child(2),
#basket_table #basket_table_list td:nth-child(3) {
    border-right: 1px solid #BEBEBE;
}

/*전체적인 부분*/
#basket_table #basket_table_list thead tr th, #basket_table #basket_table_list tbody tr td {
    padding: 10px;
    text-align: center;
    overflow: hidden; /* 내용이 넘칠 때 숨기기 */
}

#basket_table #basket_table_list thead tr th #all_check, #basket_table #basket_table_list tbody tr td #basket_check_btn{
    border: none;
    background: none;
}

/*상품정보*/
#basket_table #basket_table_list tbody tr #basket_list_td {
    width: 400px;
}

#basket_list_td #basket_list {
    display: flex;
    align-items: center;
}

#basket_list_td #basket_list #basket_list_img {
    margin-right: 10px;
}

#basket_list_td #basket_list #basket_list_img img{
    width:80px;
}

#basket_list_td #basket_list #basket_list_name {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#basket_list_td #basket_list #basket_list_name #basket_list_market_name{
    margin-bottom: 8px;
    font-weight: bold;
}

/*수량*/
#basket_table #basket_table_list tbody tr #basket_list_quantity_td{
    width:200px; /* 너비 조정 */
}

#basket_list_quantity_td #basket_list_quantity {
    width: 90px; /* 너비 조정 */
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center; /* 수평 중앙 정렬 */
    font-size: 20px;
    border: 1px solid #000;
    margin:0 auto;
}

#basket_list_quantity_td #basket_list_quantity button {
    margin: 0 5px;
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    border: none;
    color: #000;
    cursor: pointer;
}

#basket_list_quantity_td #basket_list_quantity span {
    padding: 0 5px;
    border: none;
}

/*가격*/
#basket_table #basket_table_list tbody tr #quantity_total_price_td{
    width: 150px;
}

/*총 결제금액*/
#basket_table #total_sum_price {
    padding-right: 40px;
    font-size: 30px;
    float: right;
    text-align: center;
    line-height: 150px;
}

#total_sum_price #sum_title {
    position: absolute;
    right: 450px;
    font-weight: bold;
}

/*주문버튼*/
#order_button {
    text-align: center;
}
#order_button button{
    margin: 30px;
    width: 230px;
    height: 60px;
    border-radius: 10px;
    font-size: 23px;
    font-weight: bold;
    border: none;
    background: #FFEA8D;
}

