#body {
    margin: 0;
    padding: 0;
}

.page {
    min-width: fit-content;
}

#contents {
    margin: 0 auto;
    width: 1020px;
    padding: 30px 0 50px;
}

/*검색창*/
#search_box {
    margin-bottom: 30px;
    padding: 7px 20px;
    width: fit-content;
    border: 2px solid #FFD000;
    border-radius: 15px;
    float: right;
}

#search_box #search_query {
    width: 450px;
    height: 20px;
    border: none;
    font-size: 14px;
}
#search_query:focus {
    outline: none;
}

#search_box #search_btn {
    padding: 0;
    border: none;
    background: none;
    vertical-align: middle;
}
#search_box #search_btn img {
    width: 20px;
}